
/Achievement_pictures
/Images
/Skins
/Sounds
.htaccess
favicon.ico
/2048pictures
2048pictures/checks_gauge.png
2048pictures/fHr5TfTeT621SITPZ1SGdQ.txt
2048pictures/goals_gauge.png
2048pictures/last_update.png
2048pictures/max_scores_histogram.png
2048pictures/random_worlds.txt
2048pictures/readtxt.py
2048pictures/S3.txt
2048pictures/S4.txt
2048pictures/S5.txt
2048pictures/S6.txt
2048pictures/S7.txt
2048pictures/S8.txt
2048pictures/time_histogram.png
2048pictures/time_series_plot.png
